### This file is dedicated to put all data we got together

Created by Yuecheng Wang 14-09-2024

First, using shapefile to assignment each property SA2 population and income of area.

In [1]:
import geopandas as gpd
import pandas as pd
import numpy as np
from shapely.geometry import Point

In [2]:
# Path to domain data and SA2
SA2_shapefile_path = "../../data/raw/ABS_SA2/SA2_2021_AUST_GDA2020.shp"
population_income_path = "../../data/curated/merged_population_income_data.csv"
property_data_path = "../../data/raw/domain/all_properties_preprocessed.csv"

In [3]:
try:
    population_income = pd.read_csv(
        population_income_path, 
        encoding='utf-8', 
        na_values=['', ' ', 'NA', 'NaN']
    )
except Exception as e:
    print("Error loading population income data:", e)

In [4]:
print(population_income.head())
print(population_income.info())

# Check specific columns for unexpected NaN values
print("Missing values per column:\n", population_income.isna().sum())

   GCCSA  SA4 Code  SA3 Code    SA2  code Region Type         Region     2021  \
0  2RVIC     201.0   20101.0  201011001.0         SA2      Alfredton  16841.0
1  2RVIC     201.0   20101.0  201011002.0         SA2       Ballarat  12071.0
2  2RVIC     201.0   20101.0  201011005.0         SA2      Buninyong   7229.0
3  2RVIC     201.0   20101.0  201011006.0         SA2      Delacombe  10648.0
4  2RVIC     201.0   20101.0  201011007.0         SA2  Smythes Creek   4211.0

           2026          2031          2036     2023 income_2020
0  20756.256163  23604.443836  26060.320807  18997.0      69,111
1  11698.293593  11803.430603  11985.992387  11809.0      83,800
2   7372.079773   7685.113372   8028.887243   7323.0      67,558
3  15915.186041  20475.587469  24965.202439  12869.0      58,548
4   4312.098530   4457.413406   4725.467837   4268.0      65,068
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 524 entries, 0 to 523
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   GCCSA        522 non-null    object
 1   SA4 Code     522 non-null    float64
 2   SA3 Code     522 non-null    float64
 3   SA2  code    522 non-null    float64
 4   Region Type  522 non-null    object
 5   Region       522 non-null    object
 6   2021         522 non-null    float64
 7   2026         522 non-null    float64
 8   2031         522 non-null    float64
 9   2036         522 non-null    float64
 10  2023         523 non-null    float64
 11  income_2020  522 non-null    object
dtypes: float64(8), object(4)
memory usage: 49.3+ KB
None
Missing values per column:
 GCCSA          2
SA4 Code       2
SA3 Code       2
SA2  code      2
Region Type    2
Region         2
2021           2
2026           2
2031           2
2036           2
2023           1
income_2020    2
dtype: int64

In [5]:
# Fix SA2 code being float issue
population_income['SA2  code'] = population_income['SA2  code'].apply(lambda x: str(int(x)) if not pd.isna(x) else '')

# Inspect the corrected 'SA2  code' values
print("Corrected 'SA2  code' values:", population_income['SA2  code'].unique()[:10])

Corrected 'SA2  code' values: ['201011001' '201011002' '201011005' '201011006' '201011007' '201011008'
 '201011481' '201011482' '201011483' '201011484']

In [6]:
# Load in datasets
SA2_gdf = gpd.read_file(SA2_shapefile_path)
property_data = pd.read_csv(property_data_path)

In [7]:
# Modify property to prepare join with shapefile
property_data['geometry'] = property_data.apply(lambda row: Point(row['Longitude'], row['Latitude']), axis=1)
property_gdf = gpd.GeoDataFrame(property_data, geometry='geometry', crs=SA2_gdf.crs)

In [8]:
# Join
mapped_properties = gpd.sjoin(property_gdf, SA2_gdf, how='left', predicate='within')
mapped_properties['SA2_CODE21'] = mapped_properties['SA2_CODE21'].astype(str)

print(mapped_properties.head())
print(population_income.head())

   Unnamed: 0                                            Address    Cost  \
0           0        8/90 Hambleton Street, Middle Park VIC 3206   410.0
1           1            3/33 Bevan Street, Albert Park VIC 3206   550.0
2           3        7/7-9 Faussett Street, Albert Park VIC 3206   490.0
3           4                               Albert Park VIC 3206  1280.0
4           5  214/363 Beaconsfield Parade, Middle Park VIC 3206   350.0

  Property Type  Bedrooms  Bathrooms   Latitude   Longitude  \
0     Apartment         1          1 -37.847553  144.960477
1     Apartment         1          1 -37.839959  144.956373
2     Apartment         1          1 -37.841670  144.955332
3     Apartment         1          1 -37.843861  144.951454
4     Apartment         1          1 -37.854035  144.961308

  Closest Gov Secondary School Gov Secondary Distance  ... SA4_CODE21  \
0          Albert Park College            1.2 km away  ...        206
1          Albert Park College            0.9 km away  ...        206
2          Albert Park College            0.8 km away  ...        206
3          Albert Park College            0.4 km away  ...        206
4          Albert Park College            1.6 km away  ...        206

          SA4_NAME21 GCC_CODE21         GCC_NAME21  STE_CODE21 STE_NAME21  \
0  Melbourne - Inner      2GMEL  Greater Melbourne           2   Victoria
1  Melbourne - Inner      2GMEL  Greater Melbourne           2   Victoria
2  Melbourne - Inner      2GMEL  Greater Melbourne           2   Victoria
3  Melbourne - Inner      2GMEL  Greater Melbourne           2   Victoria
4  Melbourne - Inner      2GMEL  Greater Melbourne           2   Victoria

   AUS_CODE21 AUS_NAME21 AREASQKM21  \
0         AUS  Australia     4.6747
1         AUS  Australia     4.6747
2         AUS  Australia     4.6747
3         AUS  Australia     4.6747
4         AUS  Australia     4.6747

                                          LOCI_URI21
0  http://linked.data.gov.au/dataset/asgsed3/SA2/...
1  http://linked.data.gov.au/dataset/asgsed3/SA2/...
2  http://linked.data.gov.au/dataset/asgsed3/SA2/...
3  http://linked.data.gov.au/dataset/asgsed3/SA2/...
4  http://linked.data.gov.au/dataset/asgsed3/SA2/...

[5 rows x 33 columns]
   GCCSA  SA4 Code  SA3 Code  SA2  code Region Type         Region     2021  \
0  2RVIC     201.0   20101.0  201011001         SA2      Alfredton  16841.0
1  2RVIC     201.0   20101.0  201011002         SA2       Ballarat  12071.0
2  2RVIC     201.0   20101.0  201011005         SA2      Buninyong   7229.0
3  2RVIC     201.0   20101.0  201011006         SA2      Delacombe  10648.0
4  2RVIC     201.0   20101.0  201011007         SA2  Smythes Creek   4211.0

           2026          2031          2036     2023 income_2020
0  20756.256163  23604.443836  26060.320807  18997.0      69,111
1  11698.293593  11803.430603  11985.992387  11809.0      83,800
2   7372.079773   7685.113372   8028.887243   7323.0      67,558
3  15915.186041  20475.587469  24965.202439  12869.0      58,548
4   4312.098530   4457.413406   4725.467837   4268.0      65,068

In [9]:
# Merge the spatially joined data with population and income data using the correct column names
merged_data = mapped_properties.merge(
    population_income, 
    left_on='SA2_CODE21', 
    right_on='SA2  code', 
    how='left'
)

In [10]:
print(merged_data.head())

   Unnamed: 0                                            Address    Cost  \
0           0        8/90 Hambleton Street, Middle Park VIC 3206   410.0
1           1            3/33 Bevan Street, Albert Park VIC 3206   550.0
2           3        7/7-9 Faussett Street, Albert Park VIC 3206   490.0
3           4                               Albert Park VIC 3206  1280.0
4           5  214/363 Beaconsfield Parade, Middle Park VIC 3206   350.0

  Property Type  Bedrooms  Bathrooms   Latitude   Longitude  \
0     Apartment         1          1 -37.847553  144.960477
1     Apartment         1          1 -37.839959  144.956373
2     Apartment         1          1 -37.841670  144.955332
3     Apartment         1          1 -37.843861  144.951454
4     Apartment         1          1 -37.854035  144.961308

  Closest Gov Secondary School Gov Secondary Distance  ... SA3 Code  \
0          Albert Park College            1.2 km away  ...  20605.0
1          Albert Park College            0.9 km away  ...  20605.0
2          Albert Park College            0.8 km away  ...  20605.0
3          Albert Park College            0.4 km away  ...  20605.0
4          Albert Park College            1.6 km away  ...  20605.0

   SA2  code Region Type       Region     2021          2026          2031  \
0  206051128         SA2  Albert Park  16011.0  17038.932086  17962.124243
1  206051128         SA2  Albert Park  16011.0  17038.932086  17962.124243
2  206051128         SA2  Albert Park  16011.0  17038.932086  17962.124243
3  206051128         SA2  Albert Park  16011.0  17038.932086  17962.124243
4  206051128         SA2  Albert Park  16011.0  17038.932086  17962.124243

          2036     2023 income_2020
0  18638.66205  16861.0     127,405
1  18638.66205  16861.0     127,405
2  18638.66205  16861.0     127,405
3  18638.66205  16861.0     127,405
4  18638.66205  16861.0     127,405

[5 rows x 45 columns]

In [11]:
selected_columns = [
    'Address', 'Cost', 'Bedrooms', 'Bathrooms', 
    'Closest Gov Secondary School', 'Gov Secondary Distance',
    'Age under 20', 'Age 20-39', 'Age 40-59', 'Age 60+', 'Postcode',
    'Latitude', 'Longitude', 'SA2  code', 'income_2020', '2023', '2026'
]

# Filter the merged data to keep only the selected columns
filtered_data = merged_data[selected_columns].copy()

In [12]:
filtered_data.head(5)

,Address,Cost,Bedrooms,Bathrooms,Closest Gov Secondary School,Gov Secondary Distance,Age under 20,Age 20-39,Age 40-59,Age 60+,Postcode,Latitude,Longitude,SA2 code,income_2020,2023,2026
0,"8/90 Hambleton Street, Middle Park VIC 3206",410.0,1,1,Albert Park College,1.2 km away,36%,15%,30%,19%,3206,-37.847553,144.960477,206051128,"127,405",16861.0,17038.932086
1,"3/33 Bevan Street, Albert Park VIC 3206",550.0,1,1,Albert Park College,0.9 km away,28%,18%,28%,26%,3206,-37.839959,144.956373,206051128,"127,405",16861.0,17038.932086
2,"7/7-9 Faussett Street, Albert Park VIC 3206",490.0,1,1,Albert Park College,0.8 km away,20%,26%,29%,25%,3206,-37.841670,144.955332,206051128,"127,405",16861.0,17038.932086
3,Albert Park VIC 3206,1280.0,1,1,Albert Park College,0.4 km away,17%,20%,36%,27%,3206,-37.843861,144.951454,206051128,"127,405",16861.0,17038.932086
4,"214/363 Beaconsfield Parade, Middle Park VIC 3206",350.0,1,1,Albert Park College,1.6 km away,19%,24%,27%,29%,3206,-37.854035,144.961308,206051128,"127,405",16861.0,17038.932086

With this done, now, combine it with all API calculated distance to locations :D

In [13]:
distance_files = {
    "CBD Distance": "../../data/raw/domain/cbd_distance.csv",
    "Train Distance": "../../data/raw/domain/train_distance.csv",
    "Electricity Distance": "../../data/raw/domain/elec_distance.csv",
    "Hospital Distance": "../../data/raw/domain/hospital_distance.csv",
    "Library Distance": "../../data/raw/domain/lib_distance.csv",
    "Park Distance": "../../data/raw/domain/park_distance.csv",
    "Tourist Attraction Distance": "../../data/raw/domain/tour_distance.csv",
    "Grocery Distance": "../../data/raw/domain/shop_distance.csv"
}

In [14]:
# Join
for column_name, file_path in distance_files.items():
    # Load the CSV file
    new_column_data = pd.read_csv(file_path)
    
    # Check if the number of rows matches the filtered_data DataFrame
    if len(new_column_data) == len(filtered_data):
        # Add the new column to the filtered_data DataFrame
        filtered_data[column_name] = new_column_data.iloc[:, 0]
    else:
        print(f"Warning: File {file_path} has a different number of rows and was not added.")

In [15]:
print(filtered_data.head())

                                             Address    Cost  Bedrooms  \
0        8/90 Hambleton Street, Middle Park VIC 3206   410.0         1
1            3/33 Bevan Street, Albert Park VIC 3206   550.0         1
2        7/7-9 Faussett Street, Albert Park VIC 3206   490.0         1
3                               Albert Park VIC 3206  1280.0         1
4  214/363 Beaconsfield Parade, Middle Park VIC 3206   350.0         1

   Bathrooms Closest Gov Secondary School Gov Secondary Distance Age under 20  \
0          1          Albert Park College            1.2 km away          36%
1          1          Albert Park College            0.9 km away          28%
2          1          Albert Park College            0.8 km away          20%
3          1          Albert Park College            0.4 km away          17%
4          1          Albert Park College            1.6 km away          19%

  Age 20-39 Age 40-59 Age 60+  ...     2023          2026  CBD Distance  \
0       15%       30%     19%  ...  16861.0  17038.932086        4.9721
1       18%       28%     26%  ...  16861.0  17038.932086        4.0862
2       26%       29%     25%  ...  16861.0  17038.932086        4.4456
3       20%       36%     27%  ...  16861.0  17038.932086        4.7979
4       24%       27%     29%  ...  16861.0  17038.932086        5.8848

  Train Distance Electricity Distance  Hospital Distance  Library Distance  \
0         4.2640               3.1100             3.6124            0.4270
1         4.7513               2.2242             2.0958            0.2448
2         4.5995               2.5835             1.9441            0.0756
3         4.9483               2.0891             2.2929            0.5661
4         4.2357               4.0227             3.5144            0.6409

   Park Distance  Tourist Attraction Distance  Grocery Distance
0         0.1886                       0.5198            1.6056
1         0.1982                       0.2416            0.7198
2         0.1749                       0.1316            1.0792
3         0.1422                       0.3968            1.4315
4         0.5429                       0.3927            2.2451

[5 rows x 25 columns]

In [16]:
# Save the updated DataFrame if needed
filtered_data.to_csv("../../data/raw/individual_property.csv", index=False)