# This file aggreagte individual property data by suburb

数据进第一题模型的样子
Year | income | population | Distance | Cost 
Train-validation
2019 | 123    |  345       | 1234     |  220
2020 | 123    |  345       | 1234     |  220
2021 | 123    |  345       | 1234     |  220
2023 | 334    |  455       | 1234     |  340

Test
2025 | 156    |  678       | 1234     |  ?
2027 | 789    |  234       | 1234     |  ?

model: price predictor

1. aggregate data:
aggregate by suburb -> 提取median price by suburb
提取past price
compare price of individual property and median price of suburb -> %
base on % and past median price -> past price of individual property
LIMITATION: Base on the limitation of our past data resource.....


2. data merge:
提取past data里income, population, crime
insert past income, population, crime, past price of individual property 进dataset  [手动做oldlisting]


3. 
past-2024 -> train-validation -> e.g. RF
2025-2027 -> 3 test dataset

train80 - validation20

 1   Cost                          5055 non-null   float64
 2   Property Type                 5055 non-null   object 
 3   Bedrooms                      5055 non-null   float64
 4   Bathrooms                     5055 non-null   float64
 
 7   Closest Gov Secondary School  5055 non-null   object 
 8   Age under 20                  5055 non-null   float64
 9   Age 20-39                     5055 non-null   float64
 10  Age 40-59                     5055 non-null   float64
 11  Age 60+                       5055 non-null   float64
 
 14  population 2024               5055 non-null   float64
 
 18  2024 income                   5055 non-null   float64
 
 
 23  crime 2024                    5055 non-null   float64

 27  CBD Distance                  5055 non-null   float64
 28  Train Distance                5055 non-null   float64
 29  Electricity Distance          5055 non-null   float64
 30  Hospital Distance             5055 non-null   float64
 31  Library Distance              5055 non-null   float64
 32  Park Distance                 5055 non-null   float64
 33  Tourist Attraction Distance   5055 non-null   float64
 34  Grocery Distance              5055 non-null   float64
 35  Gov Secondary Distance        5055 non-null   float64

RF

Test
 1   Cost                          5055 non-null   float64
 2   Property Type                 5055 non-null   object 
 3   Bedrooms                      5055 non-null   float64
 4   Bathrooms                     5055 non-null   float64
 
 7   Closest Gov Secondary School  5055 non-null   object 
 8   Age under 20                  5055 non-null   float64
 9   Age 20-39                     5055 non-null   float64
 10  Age 40-59                     5055 non-null   float64
 11  Age 60+                       5055 non-null   float64
 

 dataset 1: 15  population 2025               5055 non-null   float64

 dataset 2: 16  population 2026               5055 non-null   float64

 dataset 3: 17  population 2027               5055 non-null   float64
 
 18  2024 income                   5055 non-null   float64
 19  2025 income                   5055 non-null   float64
 20  2026 income                   5055 non-null   float64
 21  2027 income                   5055 non-null   float64
 
 23  crime 2024                    5055 non-null   float64
 24  crime 2025                    5055 non-null   float64
 25  crime 2026                    5055 non-null   float64
 26  crime 2027                    5055 non-null   float64
 27  CBD Distance                  5055 non-null   float64
 28  Train Distance                5055 non-null   float64
 29  Electricity Distance          5055 non-null   float64
 30  Hospital Distance             5055 non-null   float64
 31  Library Distance              5055 non-null   float64
 32  Park Distance                 5055 non-null   float64
 33  Tourist Attraction Distance   5055 non-null   float64
 34  Grocery Distance              5055 non-null   float64
 35  Gov Secondary Distance        5055 non-null   float64

RF