### This file is dedicated to put together the predicted 2025 to 2027 data to calculated a growth rate for each property, than, calculate suburb overall growth rate

This is in order to find most growth rate suburb and most growth rate property(s) \
Created by Yuecheng Wang 30-09-2024

In [62]:
import pandas as pd

In [63]:
df = pd.read_csv('../../data/curated/final_with_predictions_15_to_27.csv')
df_filtered = df[['Address', 'Suburb', 'Year', 'Cost']]

In [64]:
# Sort the data by Address, Suburb, and Year
df_filtered = df_filtered.sort_values(by=['Address', 'Suburb', 'Year'])

# Calculate the percentage growth rate as (Cost in current year / Cost in previous year - 1) * 100
df_filtered['Growth Rate'] = df_filtered.groupby(['Address', 'Suburb'])['Cost'].transform(lambda x: (x / x.shift(1)))

# Display the first few rows to check the growth rate calculation
print(df_filtered.head())

                                             Address         Suburb    Year  \
18140  004B/12 Albert Street, Hawthorn East VIC 3123  East Hawthorn  2015.0
18141  004B/12 Albert Street, Hawthorn East VIC 3123  East Hawthorn  2016.0
18142  004B/12 Albert Street, Hawthorn East VIC 3123  East Hawthorn  2017.0
18143  004B/12 Albert Street, Hawthorn East VIC 3123  East Hawthorn  2018.0
18144  004B/12 Albert Street, Hawthorn East VIC 3123  East Hawthorn  2019.0

             Cost  Growth Rate
18140  307.692308          NaN
18141  315.384615     1.025000
18142  326.923077     1.036585
18143  341.346154     1.044118
18144  344.807692     1.010141

In [65]:
df_pivot = df_filtered.pivot_table(
    index=['Address', 'Suburb'],  # Keep these columns as the index
    columns='Year',                 # The years become columns
    values='Growth Rate',           # The values are the growth rates
    aggfunc='first'                 # We take the first occurrence (unique for each year)
)

In [66]:
df_pivot.columns = [int(year) for year in df_pivot.columns]


df_pivot['Average Growth Rate'] = df_pivot.mean(axis=1)


df_final = df_pivot.reset_index()

In [67]:
df_final.to_csv('../../data/curated/property_growth_rates.csv', index=False)

print(df_final.head())

                                         Address               Suburb  2015  \
0  004B/12 Albert Street, Hawthorn East VIC 3123        East Hawthorn   NaN
1       04/390 Burwood Highway, Burwood VIC 3125    Burwood-Ashburton   NaN
2       07/390 Burwood Highway, Burwood VIC 3125    Burwood-Ashburton   NaN
3                1 Acton Court, Newcomb VIC 3219  St Albans-Deer Park   NaN
4              1 Aden Court, Thomastown VIC 3074     Thomastown-Lalor   NaN

       2016      2017      2018      2019      2020      2021      2022  \
0  1.025000  1.036585  1.044118  1.010141  0.947016  0.918728  1.080128
1  1.045094  1.040816  1.036415  1.010811  0.973797  0.988468  1.027778
2  1.045094  1.040816  1.036415  1.010811  0.973797  0.988468  1.027778
3  1.032000  1.046512  1.037037  1.017857  1.000000  0.982456  1.035714
4  1.035019  1.037594  1.036232  1.010490  0.999308  0.997230  1.041667

       2023      2024      2025      2026      2027  Average Growth Rate
0  1.163996  1.060503  1.110955  1.017417  1.006504             1.035091
1  1.106306  1.123779  1.140338  1.000886  1.007146             1.041803
2  1.106306  1.123779  1.104702  1.000886  1.007146             1.038833
3  1.075862  1.230769  1.152521  1.000248  1.026546             1.053127
4  1.102222  1.209677  1.119558  1.021925  1.003525             1.051204

In [69]:
# Group by suburb
df_filtered['Income'] = df['Income']

In [70]:
df_suburb_agg = df_filtered.groupby(['Suburb', 'Year']).agg(
    Median_Cost=('Cost', 'median'),
    Median_Growth_Rate=('Growth Rate', 'median'),
    Median_Income=('Income', 'median')
).reset_index()

In [72]:
# Save the aggregated data to a CSV file
df_suburb_agg.to_csv('../../data/curated/suburb_yearly_aggregates.csv', index=False)

# Display the first few rows to verify the result
print(df_suburb_agg.head())

                                  Suburb    Year  Median_Cost  \
0  Albert Park-Middle Park-West St Kilda  2015.0       501.25
1  Albert Park-Middle Park-West St Kilda  2016.0       515.00
2  Albert Park-Middle Park-West St Kilda  2017.0       535.25
3  Albert Park-Middle Park-West St Kilda  2018.0       563.00
4  Albert Park-Middle Park-West St Kilda  2019.0       580.00

   Median_Growth_Rate  Median_Income
0                 NaN        51260.1
1            1.027431        53464.0
2            1.039320        56945.0
3            1.051845        59644.0
4            1.030195        60523.0